#page-auth {
  display: flex;
  height: 100vh;
  align-items: stretch;

  aside {
    flex: 7;

    background: var(--Purple);
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px "Poppins", sans-seif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: var(--White-Background);
    }
  }

  main {
    flex: 8;
    position: relative;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .exit{
      // display: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px; 

      button{
        font-size: 14px;
        outline: none;
        border: none;
        border-radius: 5px;
        background: var(--Danger);
        padding: 5px;
        cursor: pointer;

        transition: background 0.2s;

        &:hover{
          background: var(--Hover-Danger);
        }
      }
    }

    .main-content {
      display: flex;
      flex-direction: column;

      width: 100%;
      max-width: 320px;
      align-items: stretch;
      text-align: center;

      > img {
        align-self: center;
      }

      h2 {
        font-size: 24px;
        margin: 64px 0;

        font-family: "Poppins", sans-serief;
      }

      form {
        input {
          height: 50px;
          border-radius: 8px;
          padding: 0 16px;
          background: #fff;
          border: 1px solid var(--Gray-Medium);
        }

        button {
          margin-top: 16px;
        }

        button,
        input {
          width: 100%;
        }
      }

      p {
        font-size: 14px;
        color: var(--Gray-Dark);
        margin-top: 16px;

        q {
          color: var(--Pink-Dark);
        }
      }
    }
  }

  .create-room {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: var(--Danger);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;
    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 14px;
    color: var(--Gray-Medium);

    margin: 32px;
    align-items: center;
    display: flex;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: var(--Gray-Medium);
      margin-right: 16px;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: var(--Gray-Medium);
      margin-left: 16px;
    }
  }
}
