.modal{
  position: absolute;
  top: 200px;
  bottom: 200px;
  left: 350px;
  right: 350px;
  outline: none;
  background: var(--Gray-Light-Alpha);
  border: 5px solid var(--Danger);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 65px 0;

  span {
    text-align: center;
    margin-bottom: 16px;
  }

  .adm-choice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;

    
  }

  button{
    border: 3px solid var(--Hover-Danger);
    width: 30px;
    height: 30px;
    background: inherit;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    &.yes{
      border-color: rgb(0, 177, 0);
    }

    &:hover{
      background: var(--Hover-Danger);

      svg path{
        fill: white;
      }

      &.yes{
        background-color: rgb(0, 177, 0);
      }
    }
  }

}
.modal-overlay{
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}