.modal-votation{
  width: 75vw;
  height: 75vh;
  min-height: 350px;
  min-width: 500px;
  background: var(--Background2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid var(--Primary);
  border-radius: 16px;
}

#page-room{
  background: var(--Background);
  width: 100%;
  height: 100%;
  header{
    padding: 24px;
    border-bottom: 1px solid var(--Gray-Medium);
    background: var(--Background2);

    .content{
      max-width: 1120px;
      margin: 0 auto;
      display: flex;

      justify-content: space-between;
      align-items: center;

      .logo {
        font-size: 0;
        background: none;
        border: none;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        svg, img{
          max-height: 45px;
        }

        img{
          max-height: 24px;
          margin: 0;
          margin-bottom: 10px;
        }
      } 

      > div{
        display: flex;
        gap: 16px;

        button{
          height: 40px;
        }
      }
    }
  }

  main{
    max-width: 800px;
    margin: 0 auto;

    .question-list{
      margin-top: 32px;

      .create-votation{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
      }

      .votation{
        background: var(--Details);
        border-radius: 8px;
        box-shadow: 0 2px 12px rgba($color: #000000, $alpha: 0.04);
        padding: 24px;
        display: flex;
        margin-bottom: 8px;

        .vote-options{
          flex: 5;

          > p {
            font-size: 16px;
            font-weight: 500;
          }
  
          input{
            display: none;
            
            &:checked{
              + ::before{
                background: var(--Primary);
              }
              + ::after{
                background: var(--Background);
              }
            } 
          }
  
          label{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 12px 38px;
            position: relative;
            background: var(--Background);
            width: 100%;
            margin: 5px 0 5px 8px;
            border-radius: 8px;
            cursor: pointer;
  
            p span{
              font-size: 18px;
              font-weight: 700;
              font-style: italic;
              margin-right: 5px;
            }
  
            &::before{
              content: '';
              width: 16px;
              height: 16px;
              border: 2px solid var(--Primary);
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: 8px;
              transform: translateY(-50%);
            }
            &::after{
              content: '';
              width: 4px;
              height: 4px;
              background: var(--Primary);
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: 16px;
              transform: translateY(-50%);
            }
          }
        }

        .vote-settings{
          flex: 4;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          padding: 8px;
          background: var(--Background);
          margin: 24px 0 5px 14px;
          border-radius: 8px;
          position: relative;

          &.adm{
            flex: 2;
          }

          &.adm span{
            margin: auto;
          } 

          span{
            margin-top: 30px;
            font-size: 18px;
            text-transform: capitalize;
            font-weight: 700;
          }

          strong{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(calc(-50% + 16px)) translateY(-50%);
            font-size: 80px;
            font-weight: 1000;

            color: rgba($color: #000000, $alpha: 0.06);
          }
        }
      }
    }
    
    .room-title{
      margin: 32px;
      display: flex;
      align-items: center;

      h1{
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: var(--black);
      }

      span{
        margin-left: 16px;
        background: var(--Pink-Dark);
        border-radius: 9999px;
        padding: 8px 16px;
        color: white;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form{
      textarea{
        width: 100%;
        border: none;
        padding: 16px;
        border-radius: 8px;
        background: white;
        box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.4);
        resize: vertical;
        min-height: 130px;
        outline: none;

        &.dark{
          background: var(--Details);
          color: white;

          &::placeholder{
            color: white;
          }
        }
      }

      .form-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .user-info{
          display: flex;
          align-items: center;

          img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          span{
            margin-left: 8px;
            color: var(--black);
          }
        }

        > span{
          font-size: 14px;
          color: var(--Gray-Dark);
          font-weight: 500;

          button{
            background: none;
            border: none;
            color: var(--Primary);
            cursor: pointer;
            text-decoration: underline;
            font-size: 14px;
          }
        }
      }
    }
  }
}